<h1> REGISTER FORM </h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <input type = "text" name = "fullName" placeholder = "Your full name" formControlName="fullName" >
  <br/>

  <input type = "email" name = "email" placeholder = "Your email" formControlName="email" >
  <br/>

  <input type = "text" placeholder = "phoneNo." formControlName="message" >
  <br/>
  <input type = "password" name = "password" placeholder = "password" formControlName="password" >
  <br/>
  <input type = "password" name = "repassword" placeholder = "re-enter password" formControlName="repassword" >
  <br/>
  <input type = "submit" value = "Send">
</form>