h1{
    background-color: rgb(52, 117, 214);
    color: white;
    text-align: center;
    padding:2px;
  }
  
  .column{
    width:30%;
    float:left;
    padding:2%;
    box-sizing:border-box;
  }
  .column{
    padding:3%;
  }
  /*clear-fix the parent of column because it collapsed!  */
  form:after{
    content:'';
    display:block;
    clear:both;
  }
  
  /* FORM STUFF BEGINS HERE */
  form{
    font-size:110%
  }
  label{
    display:block;
    color:saddlebrown;
    margin:10px 0 3px;
  }
  fieldset label{
    display:inline-block;
    font-size:85%;
    font-family: Calibri, sans-serif;
  }
  
  
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=password],
  textarea,
  select{
    width:50%;
    padding:5px;
    box-sizing:border-box;
    background-color:cornsilk;
    border: solid 1px tan;
    font-family:'Lucida Console', monospace;
  }
  textarea{
    resize: vertical;
    min-height: 70px;
  }
  fieldset{
    border:none;
    margin:20px 0 ;
    padding:10px 0;
    border-bottom: 1px solid tan;
  }
  legend{
    color:white;
    background-color:tan;
    display:block;
    width:100%;
    padding:3px;
  }

  /* BUTTONS */
  input[type=submit]{
    background-color:rgb(52, 117, 214);
    color:white;
    border:none;
    padding: 6px 20px;
    font-size:110%;
    border-radius:10px;
    font-family: Rockwell, georgia, serif;
  }
  /* Reset Button: minimize the appearance */
  input[type=reset]{
    background-color:transparent;
    border:none;
    text-decoration:underline;
    cursor:pointer;
    margin:20px 0;
    color:olive;
  }
  
  /* hovers and tabs */
  input[type=text]:hover,
  input[type=email]:hover,
  input[type=text]:hover,
  input[type=password]:hover{
    background-color:khaki;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=text]:focus,
  input[type=password]:focus
  {
    outline: 2px solid tan;
  }
  input[type=sumbit]:hover,
  input[type=submit]:focus{
    background-color:rgb(1, 39, 109);
  }
  /* responsive bonus round */
  @media screen and (min-width:450px){
  /*  2col  */
    .column{
      width:50%;
      float:left;
      padding:3%;
      box-sizing:border-box;
    }
  }