
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaK1pnmCIrLoA0-1xlkrlQH4shAa1OZX3RkA&usqp=CAU" alt="Paris" style="width:50%;">
<table><tr><th>
        <button class="nav-item nav-link-edit"  [routerLink]="['/register']" style="background-color: rgb(52, 117, 214)" mdbWavesEffect>Register</button>
    </th><th>
            <button class="nav-item nav-link-edit" [routerLink]="['/login']"  style="background-color: rgb(52, 117, 214)" mdbWavesEffect>Login</button>
        </th></tr>
</table> 
<router-outlet ></router-outlet>